﻿<!doctype html>
<html>
<head>
    <title>Invitation</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <style>
            @font-face {
                font-family: 'Raleway';
                src: url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.eot');
                src: url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
                     url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.woff') format('woff'),
                     url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
                     url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
                font-weight: normal;
                font-style: normal;

            }
            
            @font-face {
                font-family: 'Aller';
                src: url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.eot');
                src: url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
                     url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.woff') format('woff'),
                     url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.ttf') format('truetype'),
                     url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.svg#allerregular') format('svg');
                font-weight: normal;
                font-style: normal;

            }

            body 
            {
                font-family: 'Aller';
                font-size: 14px;
            }
            h1
            {
                font-family: 'Raleway';
                display: block;
            }
            h2
            {
                font-family: 'Raleway';
                line-height: 22px;
                font-size: 16px;
                margin-bottom: 10px;
            }
            hr
            {
                border: 0;
                color: #eaeaea;
                background-color: #eaeaea;
                height: 2px;
            }
            p
            {
                line-height: 22px;
                margin-bottom: 20px;
            }
            a, a:visited 
            {
                color: #00a99d;
                text-decoration: none;
            }
            a:hover 
            {
                color: #39b54a;
            }
            .activate 
            {
                display: block;
                padding-bottom: 10px;
                font-size: 1.5em;
            }
            .signoff 
            {
                font-size: 1.2em;
                color: #3b3b3b;
            }
            .needlink 
            {
                font-size: 0.8em;
                color: #acacac;
            }
        </style>
</head>
<body>
    <h1>You're in the Loop</h1>
    <p>{{#agency_name}} has started to use Loop and {{#inviter}} has invited you to join.</p>
    <a href="{{#activation_link}}" class="activate">Click here to activate your account</a>
    <p>Loop is for <strong>talent management agencies and their staff</strong>.  It's made for people who need to manage talent, their schedules, travel arrangements and billing. You can
    find out loads more about Loop by taking the <a href="http://theloop.io/tour">Loop product tour</a>.</p>
    <p>If you need anything, from help on getting started, or to provide us feedback, good or bad, reply to this email or email us at <a href="mailto:hello@theloop.io">hello@theloop.io</a>.</p>
    <p>Enjoy Loop and all the free time it'll give you to help grow {{#agency_name}}.</p>
    <p class="signoff">Team Loop</p>
    <p class="needlink">Can't click the activation link? Try copy-and-pasting this address into your browser: {{#activation_link}}</p>
</body>
</html>
