﻿<!doctype html>
<html>
	<head>
		<title>Invoice {{#invoice_number}}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <style>
            @font-face {
                font-family: 'Raleway';
                src: url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.eot');
                src: url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
                     url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.woff') format('woff'),
                     url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
                     url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
                font-weight: normal;
                font-style: normal;

            }
            
            @font-face {
                font-family: 'Aller';
                src: url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.eot');
                src: url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
                     url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.woff') format('woff'),
                     url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.ttf') format('truetype'),
                     url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.svg#allerregular') format('svg');
                font-weight: normal;
                font-style: normal;

            }

            body 
            {
                font-family: 'Aller';
                font-size: 14px;
            }
            h1
            {
                font-family: 'Raleway';
                display: block;
            }
            h2
            {
                font-family: 'Raleway';
                line-height: 22px;
                font-size: 16px;
                margin-bottom: 10px;
            }
            hr
            {
                border: 0;
                color: #eaeaea;
                background-color: #eaeaea;
                height: 2px;
            }
            p
            {
                line-height: 16px;
                margin: 0;
            }
            table
            {
                width: 100%;
                margin-bottom: 25px;
            }
            thead tr
            {
                background-color: #eaeaea;
            }
            thead td, .head
            {
                padding: 5px;
                text-transform: uppercase;
                font-weight: bold;
            }
            tbody td, tfoot td
            {
                padding: 5px;
                font-size: 12px;
            }
            tbody tr:nth-child(odd)
            {
                background-color: #fafafa;
            }
            td
            {
                vertical-align: top;
            }
            .narrow
            {
                width: 40px;
                text-align: right;
            }
            .number
            {
                width: 100px;
                text-align: right;
            }
            .date 
            {
                margin-top: 30px;
            }
            .agency_address
            {
                float: right;
                width: 40%;
                text-align: right;
            }
            .agency_address img
            {
                width: 100px;
                margin-bottom: 25px;
            }
            .to_address
            {
                margin-top: 150px;
                float: left;
                width: 40%;
            }            
            div.agency_address p, div.to_address p, div.payment p, div.contracting p
            {
                font-family: 'Aller';
                line-height: 20px;
            }
            div.agency_address p
            {
                text-align: right;
            }
            .content
            {
                clear: both;
                display: block;
                padding-top: 10px;
            } 
            .head 
            {
                text-align: right;
            }  
            .strong
            {
                font-weight: bold;
            }
            .payment
            {
                width: 50%;
                float: left;
                padding: 10px;
            }
            .contracting
            {
                width: 40%;
                float: right;
            } 
            .payment
            {
                border: solid 1px #eaeaea;
            } 
            .payment p, .contracting p
            {
                font-size: 11px;
                margin-bottom: 15px;
            }   
            .payment td 
            {
                font-size: 11px;
            }
            .is-demand
            {
                background-color: #ffd0d2;
            }
            .tax_indication
            {
                display: block;
                float: right;
                margin-right: 10px;
                font-size: 10px;
            }  
        </style>
	</head>
	<body class="{{#is-demand}}">
	    <div class="invoice">
            <div class="agency_address">
                {{#logo}}
                <p><strong>{{#agency_name}}</strong></p>
                {{#agency_address1}}
                {{#agency_address2}}
                {{#agency_address3}}
                {{#agency_address4}}
                {{#agency_city}}
                {{#agency_postcode}}
                {{#agency_country}}

                <p class="date">{{#todays_date}}</p>
            </div>
            <div class="to_address">
                <p><strong>{{#purchaser}}</strong></p>
                {{#purchasing_company}}
                {{#purchaser_address1}}
                {{#purchaser_address2}}
                {{#purchaser_address3}}
                {{#purchaser_address4}}
                {{#purchaser_city}}
                {{#purchaser_postcode}}
                {{#purchaser_country}}
                {{#customer_vat}}
            </div>
            <div class="content">
                <h1>INVOICE {{#invoice_number}}</h1>

                <span class="tax_indication">Amounts are tax <strong>{{#tax_inclusive}}</strong></span>
                <table>
                <thead>
                    <tr>
                        <td>Qty.</td>
                        <td>Details</td>
                        <td>Tax</td>
                        <td>SubTotal</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody>
                    {{#invoice_items}}
                </tbody>
                <tfoot>
                    <tr>
                        <td class="head" colspan="3">Net Total</td>
                        <td class="number">{{#net_total}}</td>
                        <td class="narrow">{{#currency_code}}</td>
                    </tr>
                    {{#invoice_tax}}
                    <tr>
                        <td class="head strong" colspan="3">Total</td>
                        <td class="number strong">{{#total}}</td>
                        <td class="narrow">{{#currency_code}}</td>
                    </tr>
                </tfoot>
            </table>

            <div class="payment">
                <h2>Payment Details</h2>
                <p>{{#contracting_company_bank}}</p>

                <table>
                    <tbody>
                        {{#contracting_company_sortcode}}
                        {{#contracting_company_account}}
                        {{#contracting_company_bic}}
                        {{#contracting_company_swift}}
                        {{#contracting_company_iban}}
                        {{#contracting_company_vat}}
                        <tr>
                            <td><strong>REFERENCE</strong></td>
                            <td>{{#invoice_number}}</td>
                        </tr>                   
                    </tbody>
                </table>
            </div>
            <div class="contracting">
                <h2>Payment Terms</h2>
                <p>{{#payment_terms}}</p>
            </div>
            
            </div>
        </div>
	</body>
</html>