﻿<!doctype html>
<html>
	<head>
		<title>Agreement {{#agreement_number}}</title>
        <style>
            @font-face {
                font-family: 'Raleway';
                src: url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.eot');
                src: url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
                     url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.woff') format('woff'),
                     url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
                     url('http://foundry.thetoastagency.com/fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
                font-weight: normal;
                font-style: normal;

            }
            
            @font-face {
                font-family: 'Aller';
                src: url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.eot');
                src: url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
                     url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.woff') format('woff'),
                     url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.ttf') format('truetype'),
                     url('http://foundry.thetoastagency.com/fonts/aller/aller_rg-webfont.svg#allerregular') format('svg');
                font-weight: normal;
                font-style: normal;

            }

            body 
            {
                font-family: 'Aller', Lucida Sans, Monospace;
                font-size: 14px;
            }
            h1
            {
                font-family: 'Raleway';
                display: block;
            }
            h2
            {
                font-family: 'Raleway';
                line-height: 10px;
                font-size: 20px;
                margin-bottom: 0;
            }
            h4
            {
                font-family: 'Raleway';
                line-height: 0;
                font-size: 14px;
                margin-bottom: 25px;
                margin-top: 30px;
            }
            hr
            {
                border: 0;
                color: #eaeaea;
                background-color: #eaeaea;
                height: 2px;
                clear: both;
            }
            p
            {
                font-size: 12px;
            }
            p
            {
                line-height: 16px;
                margin: 0;
            }
            header
            {
                margin-top: 50px;
            }
            section
            {
                margin: 30px 30px;
            }
            label
            {
                float: left;
                width: 40%;
                margin-bottom: 20px;
            }
            .value
            {
                float: left;
                width: 60%;
                margin-bottom: 20px;
            }
            .logo
            {
                width: 100px;
                float: left;
                margin: 0 40px 30px 40px;
            }
            .nonfly-logo
            {
                width: 40px;
                float: left;
                margin: 0 20px 20px 0px;
            }
            .headers
            {
                float: left;
            }
            .headers h1
            {
                margin-top: 8px;
                line-height: 26px;
                font-size: 32px;
            }
            .headers h2
            {
                font-size: 14px;
            }
            .signature
            {
                font-size: 11px;
            }
            .signature h4
            {
                float: left;
            }
            .signature h4:nth-of-type(odd)
            {
                display: block;
                width: 100px;
            }
            .signature h4:nth-of-type(even)
            {
                margin-left: 150px;
            }
            .signature h4:nth-of-type(3)
            {
                clear: both;
            }
            .heads
            {
                overflow: hidden;
                min-height: 820px;
                max-height: 820px;
            }
            .signatories 
            {
                display: block;
                min-height: 200px;
            }
            .rider-content
            {
                overflow: hidden;
                min-height: 690px;
                max-height: 690px;
                margin-bottom: 30px;
            }
            .interpretation-sheet
            {
                overflow: hidden;
                min-height: 900px;
                max-height: 900px;
                margin-bottom: 30px;
            }
            .signature-sheet
            {
                overflow: hidden;
                min-height: 900px;
                max-height: 900px;
                margin-bottom: 30px;
            }
            .signature-sheet h4
            {
                margin-bottom: 10px;
            }
            .contract p
            {
                font-size: 11px;
            }
            footer
            {
                font-size: 10px;
                color: #7d7d7d;
            }
            .enhance 
            {
                font-weight: bold;
            }
            .hidden 
            {
                display: none;
                visibility: hidden;
            }
        </style>
	</head>
	<body>
	    <div class="agreement">
            <div class="content">
                <header>
                    
                  {{#logo}}
                  <div class="headers">
                        <h1>{{#agency_name}}</h1>
                        <h1>Performance Agreement</h1>
                  </div>
                  
                  <hr />
                </header>
                <section class="heads">
                    <div class="head">
                        <label for="agreement-ref">Agreement Reference:</label>
                        <span id="agreement-ref" class="value">{{#agreement_number}}</span>

                        <label for="performance-date">Performance Date:</label>
                        <span id="performance-date" class="value">{{#performance_date}}</span>

                        <label for="talent">Talent:</label>
                        <span id="talent" class="value">
                            {{#talent_name}};<br />
                            formed of {{#formed_of}}
                        </span>

                        <label for="agreement-date">Agreement Date:</label>
                        <span id="agreement-date" class="value">{{#todays_date}}</span>

                        <label for="purchaser">Purchaser:</label>
                        <span id="purchaser" class="value">
                            {{#purchaser_name}}<br />
                            <strong>of</strong><br />
                            {{#purchasing_company}}
                            {{#purchaser_address1}}
                            {{#purchaser_address2}}
                            {{#purchaser_address3}}
                            {{#purchaser_address4}}
                            {{#purchaser_city}}
                            {{#purchaser_postcode}}
                            {{#purchaser_country}}
                        </span>

                        <label for="performance-venue">Performance Venue:</label>
                        <span id="performance-venue" class="value">
                            {{#venue_name}}
                            {{#venue_address1}}
                            {{#venue_address2}}
                            {{#venue_address3}}
                            {{#venue_address4}}
                            {{#venue_city}}
                            {{#venue_postcode}}
                            {{#venue_country}}
                        </span>

                        <label for="total-performance-fee">Total Performance Fee:</label>
                        <span id="total-performance-fee" class="value">
                            {{#performance_fee}} {{#currency_code}} ({{#currency_name}})<br />
                            <span style="text-transform: capitalize;">{{#performance_fee_words}}</span> {{#currency_name}}s
                        </span>
                    </div>

                    <hr />
                    <div class="signatories">
                        <label for="null">&nbsp;</label>
                        <span class="value signature">
                            Agreement made the date of: {{#todays_date}} by and between {{#talent_name}} and
                            {{#purchaser_name}}. It is understood and mutually agreed that the Purchaser engages
                            the Talent to perform the engagement upon all the terms and conditions set
                            forth.
                            <br />
                            <br />
                            <h4>Purchaser</h4><h4>Date</h4>
                            <h4>Talent</h4><h4>Date</h4>
                        </span>
                    </div>
                </section>

                <hr />

                {{#footer}}

                <div class="{{#bool_technical_rider}}">
                    <br style="page-break-after: auto; clear: both;">

                    <section class="rider">
                    {{#nonfly_logo}}
                    <h2>{{#agency_name}}</h2>
                    <h2>Performance Agreement #{{#agreement_number}}</h2>
                    <hr />

                    <div class="rider-content">
                        <h4>Talent's Technical Rider</h4>

                        {{#technical_rider}}
                     </div>
                     
                     <hr />

                     <label for="null">&nbsp;</label>
                     <span class="value signature">
                        Agreement made the date of: {{#todays_date}} by and between {{#talent_name}} and
                        {{#purchaser_name}}. It is understood and mutually agreed that the Purchaser engages
                        the Talent to perform the engagement upon all the terms and conditions set
                        forth.
                        <br />
                        <br />
                        <h4>Purchaser</h4><h4>Date</h4>
                        <h4>Talent</h4><h4>Date</h4>
                     </span>
                   
                </section>

                    <hr />

                    {{#footer}}
                </div>

                <div class="{{#bool_personal_rider}}">
                    <br style="page-break-after: auto; clear: both;">

                    <section class="rider">
                    {{#nonfly_logo}}
                    <h2>{{#agency_name}}</h2>
                    <h2>Performance Agreement #{{#agreement_number}}</h2>
                    <hr />

                    <div class="rider-content">
                        <h4>Talent's Personal Rider</h4>

                        {{#personal_rider}}
                     </div>
                     
                     <hr />

                     <label for="null">&nbsp;</label>
                     <span class="value signature">
                        Agreement made the date of: {{#todays_date}} by and between {{#talent_name}} and
                        {{#purchaser_name}}. It is understood and mutually agreed that the Purchaser engages
                        the Talent to perform the engagement upon all the terms and conditions set
                        forth.
                        <br />
                        <br />
                        <h4>Purchaser</h4><h4>Date</h4>
                        <h4>Talent</h4><h4>Date</h4>
                     </span>
                   
                </section>

                    <hr />

                    {{#footer}}
                </div>

                <div class="{{#bool_transport_rider}}">
                    <br style="page-break-after: auto; clear: both;">

                    <section class="rider">
                    {{#nonfly_logo}}
                    <h2>{{#agency_name}}</h2>
                    <h2>Performance Agreement #{{#agreement_number}}</h2>
                    <hr />

                    <div class="rider-content">
                        <h4>Transport &amp; Flights Rider</h4>

                       {{#transport_rider}}
                     </div>
                     
                     <hr />

                     <label for="null">&nbsp;</label>
                     <span class="value signature">
                        Agreement made the date of: {{#todays_date}} by and between {{#talent_name}} and
                        {{#purchaser_name}}. It is understood and mutually agreed that the Purchaser engages
                        the Talent to perform the engagement upon all the terms and conditions set
                        forth.
                        <br />
                        <br />
                        <h4>Purchaser</h4><h4>Date</h4>
                        <h4>Talent</h4><h4>Date</h4>
                     </span>
                   
                </section>

                    <hr />

                    {{#footer}}
                </div>

                <div class="{{#bool_ground_rider}}">
                    <br style="page-break-after: auto; clear: both;">

                    <section class="rider">
                    {{#nonfly_logo}}
                    <h2>{{#agency_name}}</h2>
                    <h2>Performance Agreement #{{#agreement_number}}</h2>
                    <hr />

                    <div class="rider-content">
                        <h4>Ground Transportation Rider</h4>

                       {{#ground_rider}}
                     </div>
                     
                     <hr />

                     <label for="null">&nbsp;</label>
                     <span class="value signature">
                        Agreement made the date of: {{#todays_date}} by and between {{#talent_name}} and
                        {{#purchaser_name}}. It is understood and mutually agreed that the Purchaser engages
                        the Talent to perform the engagement upon all the terms and conditions set
                        forth.
                        <br />
                        <br />
                        <h4>Purchaser</h4><h4>Date</h4>
                        <h4>Talent</h4><h4>Date</h4>
                     </span>
                   
                </section>

                    <hr />

                    {{#footer}}
                </div>

                <div class="{{#bool_marketing_rider}}">
                    <br style="page-break-after: auto; clear: both;">

                    <section class="rider">
                    {{#nonfly_logo}}
                    <h2>{{#agency_name}}</h2>
                    <h2>Performance Agreement #{{#agreement_number}}</h2>
                    <hr />

                    <div class="rider-content">
                        <h4>Marketing Rider</h4>

                       {{#marketing_rider}}
                     </div>
                     
                     <hr />

                     <label for="null">&nbsp;</label>
                     <span class="value signature">
                        Agreement made the date of: {{#todays_date}} by and between {{#talent_name}} and
                        {{#purchaser_name}}. It is understood and mutually agreed that the Purchaser engages
                        the Talent to perform the engagement upon all the terms and conditions set
                        forth.
                        <br />
                        <br />
                        <h4>Purchaser</h4><h4>Date</h4>
                        <h4>Talent</h4><h4>Date</h4>
                     </span>
                   
                </section>

                    <hr />

                    {{#footer}}
                </div>

                <div class="{{#bool_misc_rider}}">
                    <br style="page-break-after: auto; clear: both;">

                    <section class="rider">
                    {{#nonfly_logo}}
                    <h2>{{#agency_name}}</h2>
                    <h2>Performance Agreement #{{#agreement_number}}</h2>
                    <hr />

                    <div class="rider-content">
                        <h4>Miscellaneous Rider</h4>

                       {{#misc_rider}}
                     </div>
                     
                     <hr />

                     <label for="null">&nbsp;</label>
                     <span class="value signature">
                        Agreement made the date of: {{#todays_date}} by and between {{#talent_name}} and
                        {{#purchaser_name}}. It is understood and mutually agreed that the Purchaser engages
                        the Talent to perform the engagement upon all the terms and conditions set
                        forth.
                        <br />
                        <br />
                        <h4>Purchaser</h4><h4>Date</h4>
                        <h4>Talent</h4><h4>Date</h4>
                     </span>
                   
                </section>

                    <hr />

                    {{#footer}}
                </div>

                <div class="{{#bool_payment_terms}}">
                    <br style="page-break-after: auto; clear: both;">

                    <section class="rider">
                    {{#nonfly_logo}}
                    <h2>{{#agency_name}}</h2>
                    <h2>Performance Agreement #{{#agreement_number}}</h2>
                    <hr />

                    <div class="rider-content">
                        <h4>Payment Details &amp; Instructions</h4>

                        {{#payment_terms}}

                        <h4>Payment Details</h4>
                        <p>{{#contracting_company_bank}}</p>

                        <table>
                            <tbody>
                                {{#contracting_company_sortcode}}
                                {{#contracting_company_account}}
                                {{#contracting_company_bic}}
                                {{#contracting_company_swift}}
                                {{#contracting_company_iban}}
                                {{#contracting_company_vat}}
                            </tbody>
                        </table>

                        <h4>Payment Via Money Transfer Services</h4>
                        <p>If Purchaser chooses to make payment via money transfer service (such-as Western Union), an extra $50 USD (United State Dollars) must be added to the amount paid.</p>
                     </div>
                     
                     <hr />

                     <label for="null">&nbsp;</label>
                     <span class="value signature">
                        Agreement made the date of: {{#todays_date}} by and between {{#talent_name}} and
                        {{#purchaser_name}}. It is understood and mutually agreed that the Purchaser engages
                        the Talent to perform the engagement upon all the terms and conditions set
                        forth.
                        <br />
                        <br />
                        <h4>Purchaser</h4><h4>Date</h4>
                        <h4>Talent</h4><h4>Date</h4>
                     </span>
                   
                </section>

                    <hr />

                    {{#footer}}
                </div>
                
                <br style="page-break-after: auto; clear: both;">

                <section class="contract">
                    {{#nonfly_logo}}
                    <h2>{{#agency_name}}</h2>
                    <h2>Performance Agreement #{{#agreement_number}}</h2>
                    <hr />

                    <div class="interpretation-sheet">
                        <h4>Agreement</h4>

                        <label for="agreement-date">Agreement Date:</label>
                        <span id="agreement-date" class="value">{{#todays_date}}</span>

                        <h4>Interpretation</h4>
                        <p>The "Agency"; {{#agency_name}} and its employees whose registered office is situated at {{#agency_address}}</p>
                        <p>The "Purchaser"; {{#purchaser_name}} of {{#purchaser_address}}.</p>
                        <p>The "Talent"; means {{#formed_of}} performing professionally as {{#talent_name}}.</p>
                        <p>The "Performance"; means the show or act in which the Purchaser has employed the Talent's professional talent for.</p>
                        <p>The "Event"; means the show or acts organised by the Purchaser to take place on the Performance Date at the Venue.</p>
                        <p>The "Venue"; means the place of the Talent's Performance; {{#venue_address}}.</p>
                        <p>The "Performance Date"; means {{#performance_date}}.</p>
                        <p>The "Tour Manager"; means a professional chaperone for the Talent.</p>
                        <p>The "Total Performance Fee"; means the total amount payable of {{#performance_fee}} {{#currency_code}} ({{#currency_name}}) under this Performance Agreement.</p>
                        <p>The "Performance Agreement"; means this document and all its attached riders.  It forms agreement {{#agreement_number}} signing of which enters the parties into a contractual relationship and binds those parties by its terms.</p>

                        <p>All currency references within this Performance Agreement are in {{#currency_code}} {{#currency_name}}.  In consideration of the mutual promises and covenants herein contained, and 
                        other good and valuable consideration, which is hereby accepted and mutually acknowledged as sufficient, the parties hereto agree as follows:</p>

                        <h4>Fee and Payment Schedule</h4>
                        <p>Payment of Total Performance Fee {{#performance_fee}} {{#currency_code}} ({{#currency_name}}) shall be made as follows;
                        <br />
                        {{#payment_terms}}
                        </p>

                        <p>Failure of Purchaser to comply with these payment provisions shall constitute a material breach of the Performance Agreement.</p>
                     </div>
                   
                </section>

                <hr />

                {{#footer}}

                <br style="page-break-after: auto; clear: both;">

                <section class="contract">
                    {{#nonfly_logo}}
                    <h2>{{#agency_name}}</h2>
                    <h2>Performance Agreement #{{#agreement_number}}</h2>
                    <hr />

                    <div class="agreement-content">
                        {{#agreement_markdown}}
                    </div>
                  
                </section>
                                                
                <div style="display: block; page-break-after: always; clear: both;"></div>
                
                <section class="signatory">
                    {{#nonfly_logo}}
                    <h2>{{#agency_name}}</h2>
                    <h2>Performance Agreement #{{#agreement_number}}</h2>
                    <hr />

                    <div class="signature-sheet">
                        <p>The Purchaser agrees with all the terms and conditions set forth in this Performance Agreement herein and
                        verifies they are authorized to enter a contractual relationship between the Talent and the Purchaser and be
                        legally bound by its terms.</p>

                        <p>We hereby agree to the above terms & conditions.</p>

                         <label for="null">&nbsp;</label>
                         <span class="value">
                            <h4>Purchaser</h4><h4>Date</h4>
                            
                            <br />
                            <br />

                            <p> 
                            {{#purchaser_name}} <strong>of</strong><br />
                            {{#purchasing_company}}
                            {{#purchaser_address1}}
                            {{#purchaser_address2}}
                            {{#purchaser_address3}}
                            {{#purchaser_address4}}
                            {{#purchaser_city}}
                            {{#purchaser_postcode}}
                            {{#purchaser_country}}
                            </p>

                            <hr />

                            <h4>Talent</h4><h4>Date</h4>

                            <br />
                            <br />

                            <p>
                            {{#talent_name}} <strong>of</strong><br />
                            {{#agency_name}}
                            {{#agency_address1}}
                            {{#agency_address2}}
                            {{#agency_address3}}
                            {{#agency_address4}}
                            {{#agency_city}}
                            {{#agency_postcode}}
                            {{#agency_country}}
                            </p>
                         </span>
                    </div>
                   
                </section>

                <hr />

                {{#footer}}
            </div>
        </div>
	</body>
</html>