﻿<div class="event appearance">
    <span class="time">{{#time}}</span>
    <span class="icon"><img src="http://static.theloop.io/icons/appearance.png" /></span>
    <div class="event-content">
        <table>
            <tr>
                <td style="width: 100px;"><strong>Venue</strong></td>
                <td>
                    {{#venue_name}}<br />
                    {{#venue_address}}
                </td>
            </tr>
            <tr>
                <td><strong>Contact(s)</strong></td>
                <td>{{#contacts}}</td>
            </tr>
            <tr>
                <td><strong>Set-Time</strong></td>
                <td>{{#settime}}</td>
            </tr>
            <tr>
                <td><strong>Fee</strong></td>
                <td>{{#fee}}</td>
            </tr>
            {{#cash_to_collect}}
        </table>
        {{#notes}}
    </div>
</div>
<hr />