﻿<div class="event car">
    <span class="time">{{#time}}</span>
    <span class="icon"><img src="http://static.theloop.io/icons/ground.png" /></span>
    <div class="event-content">
        <table>
            <tr>
                <td style="width: 100px;"><strong>Pickup</strong></td>
                <td>
                    {{#pickup_location}}
                </td>
                <td class="american-time">{{#pickup_time}}</td>
            </tr>
            <tr>
                <td><strong>Dropoff</strong></td>
                <td>
                    {{#dropoff_location}}
                </td>
                <td>&nbsp;</td>
            </tr>
        </table>

        <table>
            <tr>
                <td style="width: 100px;"><strong>Provided By</strong></td>
                <td>{{#carrier}}</td>
            </tr>
            <tr>
                <td><strong>Confirmation #</strong></td>
                <td>{{#confirmation}}</td>
            </tr>
        </table>
        {{#notes}}
    </div>
</div>
<hr />