﻿<div class="event change-terminal">
    <span class="time">&nbsp;</span>
    <span class="icon">&nbsp;</span>
    <div class="event-content">
        <table>
            <tr class="{{#urgency}}">
                <td>{{#urgency_bangs}}</td>
                <td><strong>Terminal Change</strong> {{#terminal_one}} to {{#terminal_two}}</td>
            </tr>
        </table>
    </div>
</div>
<hr />