﻿<div class="event dinner">
    <span class="time">{{#time}}</span>
    <span class="icon food"><img src="http://static.theloop.io/icons/food.png" /></span>
    <div class="event-content">
        <table>
            <tr>
                <td style="width: 100px;"><strong>Arranged</strong></td>
                <td>
                    {{#arrangement}}
                </td>
            </tr>
        </table>
    </div>
</div>
<hr />
