﻿<div class="event flight">
    <span class="time">{{#time}}</span>
    <span class="icon"><img src="http://static.theloop.io/icons/takeoff.png" /></span>
    <div class="event-content">
        <table>
            <tr>
                <td><strong>Takeoff</strong></td>
                <td>
                    {{#departure_airport}}<br />
                    {{#departure_terminal}}
                </td>
                <td class="american-time">{{#departure_time}}</td>
            </tr>
            <tr>
                <td><strong>Landing</strong></td>
                <td>
                    {{#arrival_airport}}<br />
                    {{#arrival_terminal}}
                </td>
                <td class="american-time">{{#arrival_time}}</td>
            </tr>
        </table>

        <img src="http://static.theloop.io/airlines/{{#airline_code}}.png" style="width: 120px; margin: 10px 20px 10px 0;float:left;clear:both;" /><h3 style="float:left;font-size:16px;">{{#airline}} {{#flight_number}}</h3>

        <table>
            <tr>
                <td>Traveller</td>
                <td>Class</td>
                <td>Seat</td>
                <td>Locator</td>
            </tr>
            {{#travellers}}
        </table>

        {{#notes}}
    </div>
</div>
<hr />