﻿<div class="event hotelstay">
    <span class="time">{{#time}}</span>
    <span class="icon"><img src="http://static.theloop.io/icons/hotel.png" /></span>
    <div class="event-content">
        <table>
            <tr>
                <td style="width: 100px;"><strong>Hotel</strong></td>
                <td>
                    {{#hotel_name}}<br />
                    {{#hotel_address}}
                </td>
            </tr>
            <tr>
                <td><strong>Description</strong></td>
                <td>{{#hotel_room}}</td>
            </tr>
            <tr>
                <td><strong>Confirmation #</strong></td>
                <td>{{#confirmation}}</td>
            </tr>
        </table>
        {{#notes}}
    </div>
</div>
<hr />